body {
    background-color: indigo;
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: white;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid;
    border-bottom-color: lightsteelblue;
    background-color: white;
    color: black;
    font-size: 30px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 5px solid;
    border-top-color: lightsteelblue;
    background-color: #eeeeee;
    color: black;
    font-size: 20px;
}

.timerDisplay {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    border: 5px;
    /* border-style: solid; */
    border-color: lightsteelblue;
    background-color: #5b5b5b;
    font-size: 40px;
    color: white;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 12px;


}

.gameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
}

.questionGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}


#gameDisplay{
    text-align: center;
}

#revealDisplay{
    text-align: center;
    width: 100vw;
}

.answerButton {
    border-radius: 8px;
    border: none;
    color: white;
    width: 40%;
    padding: 70px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

button:hover {
    filter: brightness(90%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.a1 {
    grid-column: 1;
    grid-row: 1;
    background-color: orangered;
}

.a2 {
    grid-column: 2;
    grid-row: 1;
    background-color: deepskyblue;
}

.a3 {
    grid-column: 1;
    grid-row: 2;
    background-color: green;
}

.a4 {
    grid-column: 2;
    grid-row: 2;
    background-color: gold;
}

.informationDisplay {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}


.nextQuestionButton {
    border-radius: 8px;
    border: none;
    color: black;
    width: 40%;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.matchmaking {
    /* font-size: 40px; */
}

#nameDisplay{
    display: inline
}

#scoreDisplay{
    display: inline
}

#timerBar{
    height: 10px;
    width: 0;
    border-radius: 20px;
    background-color: lightsteelblue;
}


#finalBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 80%;
    height: 100px;
    border-radius: 100px;
    border-style: solid;
    border-width: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}